.App {
  text-align: center;
  width: 30%;
  background-color: lightgrey;
  height: 30%;
  margin-top: 300px;
  border: 1px solid;
  box-shadow: 0px 0px 3px 0px black;
  margin: 300px auto auto auto;
}
.App button{
  width: 50%;
  height: 30px;
  cursor: pointer;
  margin: 45px 30px 25px 30px;
}
.dottedButton {
  height: 20px;
  border: dotted;
  width: 80px;
  cursor: pointer;
  margin-bottom: 20px;
  margin: auto auto 20px auto;
  font-size: 13px;
  padding: 5px;
}
